<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body dir="rtl" style="height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <form action="https://chatbot-service-mazegroup.fandogh.cloud/api" method="POST">
        <input style="font-size: 30px; padding: 10px; " type="text" name="input">
        <button style="font-size: 30px; padding: 10px; " type="submit">ارسال</button>
    </form>
    <div>
        <h1>{{name}}</h1>
    </div>
    <div><br>ساخته شده توسط محمد امین پروانیان</div>
</body>
</html>